<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width">
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <!-- build:css styles/styles.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="<%= angular %>" ng-controller="<%= angular %>Ctrl">
            
            <header>
                <h1 class="animate"><%= title %></h1>
                <p class="animate"><%= description %></p>
            </header>
            <main class="animate">
                
            </main>
            <footer class="animate">
                <hr>
                <p><%= name %></p>
            </footer>
            
            <div class="forkme">
                <a href="https://github.com/<%= github %>/<%= _.slugify(title) %>">Fork me on Github</a>
            </div>

            <!-- build:js scripts/scripts.js -->
            <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
            <% if (animateModule) { %><script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script><% } %>
            <% if (cookiesModule) { %><script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script><% } %>
            <% if (resourceModule) { %><script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script><% } %>
            <% if (routeModule) { %><script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script><% } %>
            <% if (sanitizeModule) { %><script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script><% } %>
            <% if (touchModule) { %><script type="text/javascript" src="bower_components/angular-touch/angular-touch.min.js"></script><% } %>
            <script type="text/javascript" src="scripts/app.js"></script>
            <!-- endbuild -->
    </body>
</html>